@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes:
    light --default,
    dark,
    dim;
}

* {
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.nunito {
  font-family: "Nunito", sans-serif;
}